img.profile {
    padding: 10px;
}

img#ekivock {
    max-width: 400px;
    height: 200px
}

h5.teamName {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.backgroundTeam {
    border-radius: 20px;
    background-color: #5BCEFA;
    display: flex;
    margin: 20px;
    margin-bottom: 10px;

}

.backgroundTeam:hover {
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
}

div.flexTeam {
    display: flex;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  content: attr(alt);
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

div.centerTeam {
    margin-left: 20%;
    padding: 10px;
  }

a.teamL {
    text-decoration: none;
}